In [56]:
# import pandas from library and numpy

import pandas as pd
import numpy as np

In [57]:
pd.read_csv('raw_fighter_details.csv').shape

(3313, 6)

In [58]:
other_path = 'raw_fighter_details.csv'
df = pd.read_csv(other_path, header=0)

In [59]:





df.head(5)
#df.tail(5)

  fighter_name  Height    Weight Reach Stance  DOB
0   AJ Fonseca   5' 4"  145 lbs.   NaN    NaN  NaN
1  AJ Matthews  5' 11"  185 lbs.   NaN    NaN  NaN
2     AJ McKee  5' 10"  145 lbs.   NaN    NaN  NaN
3    AJ Siscoe   5' 7"  135 lbs.   NaN    NaN  NaN
4   Aalon Cruz   6' 0"  145 lbs.   NaN    NaN  NaN

In [60]:
len(df.columns)

6

In [61]:
df.shape

(3313, 6)

In [62]:
df.loc[4:4]

  fighter_name Height    Weight Reach Stance  DOB
4   Aalon Cruz  6' 0"  145 lbs.   NaN    NaN  NaN

In [63]:
missing_data = df.isnull()
missing_data.head(6)

   fighter_name  Height  Weight  Reach  Stance    DOB
0         False   False   False   True    True   True
1         False   False   False   True    True   True
2         False   False   False   True    True   True
3         False   False   False   True    True   True
4         False   False   False   True    True   True
5         False   False   False   True   False  False

In [64]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

fighter_name
False    3313
Name: fighter_name, dtype: int64

Height
False    3050
True      263
Name: Height, dtype: int64

Weight
False    3238
True       75
Name: Weight, dtype: int64

Reach
True     1744
False    1569
Name: Reach, dtype: int64

Stance
False    2439
True      874
Name: Stance, dtype: int64

DOB
False    2573
True      740
Name: DOB, dtype: int64

In [65]:
df.dtypes

fighter_name    object
Height          object
Weight          object
Reach           object
Stance          object
DOB             object
dtype: object

KeyError: "None of [Index(['fighter', 'height'], dtype='object')] are in the [columns]"

'6\' 0"'

ValueError: could not convert string to float: '5\' 9"'

In [54]:
# simply drop whole row with NaN in "Reach" column
df.dropna(subset=["Reach"], axis=0, inplace=True)

In [55]:
df.head()

            fighter_name  Height    Weight Reach    Stance           DOB
10        Aaron Phillips   5' 9"  135 lbs.   70"  Southpaw  Aug 05, 1989
11           Aaron Riley   5' 8"  155 lbs.   69"  Southpaw  Dec 09, 1980
12            Aaron Rosa   6' 4"  205 lbs.   78"  Orthodox  May 28, 1983
13         Aaron Simpson   6' 0"  170 lbs.   73"  Orthodox  Jul 20, 1974
17  Abdul Razak Alhassan  5' 10"  170 lbs.   73"  Orthodox  Aug 11, 1985

In [38]:
df.corr()

Empty DataFrame
Columns: []
Index: []

In [12]:
df.corr()

Empty DataFrame
Columns: []
Index: []