In [5]:
import pandas as pd

In [6]:
dataframe = pd.read_csv("raw_fighter_details.csv")

In [30]:
# printing first 5 rows
for i in range(5):
    print("Row {}\n{}".format(i+1, dataframe.iloc[i]))
    
# printing last five rows
index = dataframe.shape[0]-5
for i in range(5):
    print("Row {}\n{}".format(index, dataframe.iloc[index]))
    index -=- 1

Row 1
fighter_name      AJ Fonseca
Height                 5' 4"
Weight              145 lbs.
Reach                    70"
Stance              Orthodox
DOB             Nov 12, 1974
Name: 0, dtype: object
Row 2
fighter_name     AJ Matthews
Height                5' 11"
Weight              185 lbs.
Reach                    70"
Stance              Orthodox
DOB             Nov 12, 1974
Name: 1, dtype: object
Row 3
fighter_name        AJ McKee
Height                5' 10"
Weight              145 lbs.
Reach                    70"
Stance              Orthodox
DOB             Nov 12, 1974
Name: 2, dtype: object
Row 4
fighter_name       AJ Siscoe
Height                 5' 7"
Weight              135 lbs.
Reach                    70"
Stance              Orthodox
DOB             Nov 12, 1974
Name: 3, dtype: object
Row 5
fighter_name      Aalon Cruz
Height                 6' 0"
Weight              145 lbs.
Reach                    70"
Stance              Orthodox
DOB             Nov 12, 1974
Name: 4, dtype: object
Row 3308
fighter_name    Zelim Imadaev
Height                  6' 0"
Weight               170 lbs.
Reach                     76"
Stance               Orthodox
DOB              Jan 25, 1995
Name: 3308, dtype: object
Row 3309
fighter_name    Zhang Lipeng
Height                5' 11"
Weight              155 lbs.
Reach                    71"
Stance              Southpaw
DOB             Mar 10, 1990
Name: 3309, dtype: object
Row 3310
fighter_name    Zoila Frausto
Height                  5' 4"
Weight               135 lbs.
Reach                     77"
Stance               Orthodox
DOB              Aug 05, 1981
Name: 3310, dtype: object
Row 3311
fighter_name      Zu Anyanwu
Height                 6' 1"
Weight              251 lbs.
Reach                    77"
Stance              Orthodox
DOB             Aug 05, 1981
Name: 3311, dtype: object
Row 3312
fighter_name    Zubaira Tukhugov
Height                     5' 8"
Weight                  145 lbs.
Reach                        68"
Stance                  Orthodox
DOB                 Jan 15, 1991
Name: 3312, dtype: object

In [8]:
cols = (dataframe.columns)
print(cols)

Index(['fighter_name', 'Height', 'Weight', 'Reach', 'Stance', 'DOB'], dtype='object')

In [26]:
print(dataframe.shape)

(3313, 6)

In [21]:
dataframe.iloc[3]

fighter_name      AJ Fonseca
Height                 5' 4"
Weight              145 lbs.
Reach                    70"
Stance              Orthodox
DOB             Nov 12, 1974
Name: 0, dtype: object

In [11]:
dataframe.describe()

       fighter_name Height    Weight Reach    Stance           DOB
count          3313   3050      3238  1569      2439          2573
unique         3313     27       108    25         5          2217
top       Leo Kuntz  6' 0"  170 lbs.   72"  Orthodox  Aug 08, 1988
freq              1    389       522   159      1913             4

In [31]:
dataframe = dataframe.fillna(axis=0, method='bfill')

In [14]:
dataframe[cols].corr()
# No correlation

Empty DataFrame
Columns: []
Index: []

In [15]:
csvFile = dataframe.to_csv("processed_data_week2.csv")