In [5]:
import pandas as pd
file = 'raw_fighter_details.csv'
data = pd.read_csv(file)
data.head()

  fighter_name  Height    Weight Reach Stance  DOB
0   AJ Fonseca   5' 4"  145 lbs.   NaN    NaN  NaN
1  AJ Matthews  5' 11"  185 lbs.   NaN    NaN  NaN
2     AJ McKee  5' 10"  145 lbs.   NaN    NaN  NaN
3    AJ Siscoe   5' 7"  135 lbs.   NaN    NaN  NaN
4   Aalon Cruz   6' 0"  145 lbs.   NaN    NaN  NaN

In [6]:
data.tail()

          fighter_name  Height    Weight Reach    Stance           DOB
3308     Zelim Imadaev   6' 0"  170 lbs.   76"  Orthodox  Jan 25, 1995
3309      Zhang Lipeng  5' 11"  155 lbs.   71"  Southpaw  Mar 10, 1990
3310     Zoila Frausto   5' 4"  135 lbs.   NaN  Orthodox           NaN
3311        Zu Anyanwu   6' 1"  251 lbs.   77"  Orthodox  Aug 05, 1981
3312  Zubaira Tukhugov   5' 8"  145 lbs.   68"  Orthodox  Jan 15, 1991

In [7]:
print(data.columns)

Index(['fighter_name', 'Height', 'Weight', 'Reach', 'Stance', 'DOB'], dtype='object')

In [8]:
data.shape

(3313, 6)

In [10]:
print(data.iloc[3,:])

fighter_name    AJ Siscoe
Height              5' 7"
Weight           135 lbs.
Reach                 NaN
Stance                NaN
DOB                   NaN
Name: 3, dtype: object

In [11]:
data.describe()

         fighter_name Height    Weight Reach    Stance           DOB
count            3313   3050      3238  1569      2439          2573
unique           3313     27       108    25         5          2217
top     Saul Elizondo  6' 0"  170 lbs.   72"  Orthodox  Aug 08, 1988
freq                1    389       522   159      1913             4

In [17]:
data.dropna(axis = 0,inplace = True)

In [18]:
data.head()

            fighter_name  Height    Weight Reach    Stance           DOB
10        Aaron Phillips   5' 9"  135 lbs.   70"  Southpaw  Aug 05, 1989
11           Aaron Riley   5' 8"  155 lbs.   69"  Southpaw  Dec 09, 1980
12            Aaron Rosa   6' 4"  205 lbs.   78"  Orthodox  May 28, 1983
13         Aaron Simpson   6' 0"  170 lbs.   73"  Orthodox  Jul 20, 1974
17  Abdul Razak Alhassan  5' 10"  170 lbs.   73"  Orthodox  Aug 11, 1985

In [27]:
data.corr()

Empty DataFrame
Columns: []
Index: []

In [29]:
data.to_csv('raw_fighter_details_ADEKOGBE_week2.csv')